.App {
  display: flex;
  justify-content: center;
  background-color: #172D3A;
  color: #E7EACD
}

/* Buttons */
#buttonsContainer {
  text-align: center;
  padding: 20px;
}
#buttonsContainer > button:not(:last-of-type) {
  margin-right: 10px;
}
button {
  background-color: #172D3A;
  color: #D6D0A7;
  border-color: #3A5D68;
  padding: 5px 10px;
}

/* Table */
table {
  text-align: center;
}
th, td {
  padding: 10px;
  border-bottom: 1px solid #3A5D68;
  border-left: 1px solid #3A5D68;
}
th {
  padding-top: 0;
}
img {
  min-height: 200px;
  max-height: 200px;
}